@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

body{
    margin: 0;
    background: linear-gradient(0deg, rgba(46,28,28,1) 0%, rgba(79,7,7,1) 50%, rgba(46,28,28,1) 100%);  
}
*{
    font-family: 'Red Hat Display', sans-serif;
    
}
#app{
    background: #2e1c1c;
    background: linear-gradient(0deg, rgba(46,28,28,1) 0%, rgba(79,7,7,1) 50%, rgba(46,28,28,1) 100%);
    color: wheat;
    font-size: 3.2vw;
    width: 98vw;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

header, main, footer > #top{
    margin: 0 auto 1vh auto;
    width: 81vw;
    border-radius: 10vw; 
    padding: 6vw;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 0.5vw solid wheat;
    height: 6vh;
}
#logo{
    display: flex;
}
#logoText{
    font-family: 'Satisfy', cursive;
    text-align: center;
    font-size: 240%;
    transform: skewY(-20deg);
    position: relative;
}
#logoImg{
    width: 8vw;
    height: 80%;
    display: none;
}
#title{
    font-size: 160%;
    text-align: center;
    padding: 0 1vw 0 1vw;
}
main{
    border-top: 0.5vw solid wheat;
    border-bottom: 0.5vw solid wheat;
}
main > aside {
    text-align: center;
    font-family: 'Satisfy', cursive;
    font-size: 160%;
    padding: 0 4vw 2vh 4vw;
}
main > article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;
    padding-top: 1vh;
}
main > article > div, #top > button  {
    border: 0.5vw solid wheat;
    width: 36vw;
    min-height: 8vh;
    border-radius: 10vw; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.5);
}
main > article > div:last-child{
    width: 76vw;
}
#top > button:active{
    background-color: rgba(255,255, 255, 0.5);
    transform: scale(0.9);
}
main > article > div > p {
    margin: 0;
}
main > article > div > p:first-child{
    font-size: 240%;
    font-family: 'Satisfy', cursive;
}

footer{
    min-height: 20vh;
}
footer > #top{
    border-top: 0.5vw solid wheat;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    padding-bottom: 2vh;
}
#top > section#drumHistory{
    text-align: center;
    width: 36vw;
    font-size: 160%;
}
#top > button {
    background: rgba(79,7,7,0);
    color: rgb(245, 222, 179);
    text-align: center;
    font-size: 160%;
    font-family: 'Satisfy', cursive;
}
#bottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 6vw 2vh 6vw;
}
#bottom > div {
    width: 20%;
    height: 10vw;
    border-bottom: 0.2vw solid wheat;  
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and  (min-width: 376px){
    body{
        background: linear-gradient(0deg, rgb(14, 34, 46) 0%, rgb(48, 74, 83) 50%, rgb(12, 28, 40) 100%); 
    }
    #app{
        background: rgb(29, 41, 47);
        background: linear-gradient(0deg, rgb(14, 34, 46) 0%, rgb(48, 74, 83) 50%, rgb(12, 28, 40) 100%); 
        color: wheat;
    }
    header, main, footer > #top{
        border-radius: 0vw; 
        padding: 0;
    }
    header{
        border-bottom: none;
        height: auto;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(12, 28, 40, 0.5) 33%, rgba(12, 28, 40, 0.5) 67%, rgba(0, 0, 0, 0) 100%);

        margin: 0;
        width: 100%;
        padding: 0;
    }
    #logo{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    #logoText{
        width: 30%;
        font-size: 120%;
    }
    #logoImg{
        display: block;
    }
    #title{
        width: 70%;
        font-size: 90%;
    }
    main{
        width: 70%;
        height: 52vh;
        border: none;
        margin: 0 15% 0 15%;
        padding: 0 0 4vh 0;
    }
    main > aside {
        text-align: center;
        font-family: 'Satisfy', cursive;
        font-size: 80%;
        padding: 6vh 4vw;
    }
    main > article {
        justify-content: space-between;
        gap: 1vw;
        padding-top: 1vh;
    }
    main > article > div, #top > button  {
        width: 7vw;
        min-height: 3.5vh;
        border-radius: 0; 
        display: flex;
        box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.5);
        border: 0.2vw solid wheat;
    }
    main > article > div:first-child{
        margin-right: 60vw;
    }
    main > article > div:last-child{
        width: 7vw;
    }
    main > article > div > p:first-child{
        font-size: 120%;
    }
    main > article > div > p:nth-child(2){
        font-size: 50%;
    }
    footer{
        margin-top: 2vh;
        
    }
    footer > #top{
        width: 70%;
        border: none;
        margin: 0;
        padding: 2vh 15% 2vh 15%;
        justify-content: space-between;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(12, 28, 40, 0.5) 33%, rgba(12, 28, 40, 0.5) 67%, rgba(0, 0, 0, 0) 100%);
        
    }
    #top > section#drumHistory{
        font-size: 60%;
        text-align: left;
    }
    #top > button {
        font-size: 60%;
    }
    #bottom{
        width: 70%;
        border: none;
        margin: 0 15% 0 15%;
        padding: 2vh 0 2vh 0;
    }
    #bottom > div {
        width: 7.1%;
        height: 2vw;
        border-bottom: 0.1vw solid wheat;  
        font-size: 35%;
    }
}
